.footer {
  background-color: #2a4f57;
  padding: 40px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 40px;
  }

  h5 {
    font-size: 40px;
  }

  div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }
}
